@charset "UTF-8";
@import '../node_modules/ol/ol.css';
@import '../node_modules/ol-popup/src/ol-popup.css';
@import './ol-popup-custom.css';
@import './centercross.css';
@import './toolbar.css';
@import './searchbar.css';
@import './grid.css';
:root {
  --ol-foreground-color: white;
  --ol-subtle-foreground-color: white;
  --ol-background-color: rgba(0,60,136,.5);
  --ol-partial-background-color: rgba(0,60,136,.5);
}
body {
  font-family: sans-serif;
}
label,
button {
  font-family: sans-serif;
  text-wrap: nowrap;
}
input:read-only {
  color: gray;
}
#map {
  position: relative;
}
#menu1 button:last-child,
#menu2 button:last-child,
.ol-searchbar form div:last-child {
  position: absolute;
  right: 8px;
}
#menu1 button:last-child {
  background-color: #fc9;
  color: blue;
}
#tb_curr { width: 3rem; }
#menu3 .c2 { width: 9rem; }
#menu4 .c2 { width: 4.5rem; }
#menu4 .c4 { width: 5.5rem; }
#menu4 .c2-4 { width: 12.5rem; }
#menu4 .c2-3 { width: 7rem; }
#menu4 .c4-5 { width: 8.5rem; }
#tb_query { width: 12.5rem; }
#result > div {
  max-height: calc(50vh - 150px);
  overflow-y: auto;
}
@media screen and (min-width: 865px) {
  #result > div {
    max-height: calc(100vh - 480px);
  }
}
#menu3 table,
#menu3 th,
#menu3 td {
  border-style: none;
  border-collapse: collapse;
}
#result table,
#result th,
#result td {
  border: 1px solid gray;
  border-collapse: collapse;
  font-weight: normal;
  line-height: 1rem;
}
#result th:nth-child(1) {
  width: 3rem;
}
#result th:nth-child(2) {
  width: 11rem;
}
#result th:nth-child(3) {
  width: 2rem;
}
#result td:nth-child(1) {
  text-align: right;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}
#result td:nth-child(2) {
  text-align: left;
}
#result td:nth-child(3) {
  text-align: right;
  white-space: nowrap;
}
.ol-rotate {
  top: 4rem !important;
  left: .5em !important;
  right: auto !important;
}
.ol-touch .ol-rotate {
  top: 5rem;
}
.ol-attribution {
  display: none;
}
@media screen and (max-width: 760px) {
  .ol-scale-line {
    display: none;
  }
}
@media screen and (max-width: 374px) {
  .ol-zoom, .ol-rotate {
    display: none;
  }
}
